.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	min-height: 400px;
	height: 100dvh;
	z-index: 1;
	justify-content: center;

	span {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	img {
		width: 20px;
	}
	h1 {
		margin-bottom: 100px;
	}
}
.skillsContainer {
	display: flex;
	margin: 10px;
	gap: 10px;

	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.skillList {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 20px;

	max-width: 26ch;
	border: solid var(--text-color) 1px;

	padding: 20px;
	height: 250px;
	width: 200px;
}
hr {
	width: 100px;
	height: 1px;
	border: none;
	background-color: var(--text-color);
	margin: 20px auto;
}
@media (width <= 500px) {
	.container {
		margin-bottom: 30px;
		h1 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 20px;
		}
	}
}
