.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: auto;
	min-height: 500px;
	display: inline-block;
	transform-origin: center;

	img {
		max-width: 250px;
		max-height: fit-content;
		align-self: center;
		border-radius: 20px;
	}
	img:hover {
		transform: scale(1.05);
		box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
	}
	a {
		width: fit-content;
		text-decoration: none;
		color: #222;
		transition: border-color 0.25s;
		transform-origin: center;
		transform: scale(1);
		display: inline-block;
	}
	a:hover {
		transform: scale(1.05);
		box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
	}
	.projectsContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 30px;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
	}
	p {
		max-width: 26ch;
		text-align: center;
	}
}
@media (width >=800px) {
	.projectsContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 0 30px;
	}
}
