.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: auto;

	min-height: 500px;
	z-index: 1;

	img {
		max-width: 250px;
		max-height: fit-content;
		align-self: center;

		border-radius: 20px;
	}
	a {
		width: fit-content;
		text-decoration: none;
		color: #222;
		transition: transform 200ms ease-in-out;
	}
	a:hover {
		transform: scale(1.05);
	}
	.projectsContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 40px;
		align-items: center;
		justify-content: space-around;
		z-index: 1;
	}
	p {
		max-width: 26ch;
		text-align: center;
	}
	h1 {
		margin-bottom: 50px;
	}
	h3 {
		max-width: 20ch;
		text-align: center;
	}
}
@media (width >=800px) {
	.projectsContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 0 30px;
	}
}
