.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	height: 100dvh;
	min-height: 500px;

	.hero {
		max-width: 200px;
		border-radius: 100px;
		box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 1);

		display: block;
		margin: 20px;
		text-align: center;
	}

	span {
		display: flex;
		flex-direction: row;
		gap: 5px;
		justify-content: center;
		align-items: center;

		a {
			margin: 0;

			img {
				width: 30px;
			}
		}
	}
	a {
		width: fit-content;
		align-self: center;
	}
	button {
		background-color: var(--btn-color);
		color: var(--btn-text-color);
		border: none;
		border-radius: 20px;
		width: 126px;
		height: 50px;
		font-size: 25px;
		justify-self: center;

		transform-origin: center;
		box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1);
		font-family: 'Pixelify Sans';
		text-align: center;

		transition: border-color 0.25s;
	}
	button:hover {
		transform: scale(1.05);
		box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
	}
	button:active {
		--transform: translateY(2px);
		box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
	}
}
.colorModeContainer {
	position: relative;
}
.colorMode {
	position: absolute;
	right: 0;
	width: 25px;
}
.colorMode:hover {
	cursor: pointer;
}

.description {
	max-width: 24ch;
	font-family: 'monospace' sans-serif;
	margin-bottom: 5px;

	text-align: center;
	justify-self: center;
}
.info {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.musician:hover {
		color: #c2f019;
		cursor: pointer;
	}
}
@media (width <= 700px) {
	.container {
		padding: 10px;
	}
	.info {
		gap: 7px;
	}
}
@media (width >=800px) {
	.container {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-evenly;

		.hero {
			max-width: 350px;
			width: 350px;
			border-radius: 200px;
		}
	}
}
@media (width >=1400px) {
	.container {
		.hero {
			max-width: 400px;
			width: 400px;
			border-radius: 250px;
		}
	}
	.info {
		justify-content: space-around;
		gap: 0px;

		h2 {
			margin-bottom: 10px;
		}
		.description {
			padding: 10px;
		}
	}
}
